/*---------------------------------------/*
  # SETTINGS
/*---------------------------------------*/
$color-lightgreen: #00bc4a;
$color-green: #014a2d;
$color-darkgreen: #12312c;
$color-grey: #4d4d4d;
$color-lightgrey: #bdbdbd;
$spacing-default: 4rem;

@import url("https://fonts.googleapis.com/css2?family=Amaranth&family=Dosis:wght@200&display=swap");

/*---------------------------------------/*
  # GENERIC
/*---------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*---------------------------------------/*
  # ELEMENTS
/*---------------------------------------*/

.navbar-light .navbar-toggler-icon {
  background-image: url("images/hamburger menu.png");
}

.nav-link {
  font-family: Arial;
  padding-top: 2rem;
  padding-bottom: 4rem;
  &:hover {
    color: #00bc4a !important;
  }

  &:focus {
    color: #00bc4a !important;
  }
}

.c-video {
  background-color: #00bc4a;
}

.c-text__video {
  color: #014a2d;
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
  font-family: Amaranth;
}

.c-video__v {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 4rem;
  max-width: 100%;
  height: auto;
}
.c-carousel__text {
  background-color: #12312c;
  padding-top: 12rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.c-tittle__carousel {
  color: #00bc4a;
  padding-bottom: 2rem;
  font-style: italic;
  font-family: Amaranth;
}

.c-text__carousel {
  color: white;
}

.c-onzegoudenkazen {
  background-image: url("../images/Groendal\ logo\ background.png");
  background-repeat: no-repeat;
  background-size: 2580px;
  background-position: center;
}

.c-bestelling {
  background-color: #00bc4a;
  max-width: 100%;
  height: auto;
}

.c-besteltittle {
  padding-top: 10rem;
  color: #014a2d;
  font-family: Amaranth;
  font-style: italic;
  padding-left: 4rem;
}

.c-besteltext {
  padding-top: 2rem;
  color: #014a2d;
  padding-left: 4rem;
}

.c-btn {
  background: none;
  border: none;
  padding-bottom: 4rem;
  padding-left: 4rem;

  &:hover {
    background: none;
    border: none;
  }
}

.btn-primary {
  background-color: #12312c;
  color: white;
  border-radius: 10px;
  margin-top: 1.5rem;
  display: inline-block;
  padding: 1rem;
  text-decoration: none !important;
  width: 10rem;
  border: none;

  &:hover {
    background-color: white;
    color: #12312c;
    border: none;
    text-decoration: none !important;
  }

  &:focus {
    background-color: white;
    color: #12312c;
    border: none;
    box-shadow: none;
    text-decoration: none !important;
  }
}

.c-carousel {
  background-color: #12312c;
}

.c-tittlecarousel {
  font-family: Amaranth;
  color: #00bc4a;
  align-items: center;
  font-style: italic;
}

.c-textcarousel {
  font-family: Arial;
  color: white;
  align-items: center;
}

.c-goudenkazentittle {
  align-items: center;
  text-align: center;
  color: #00bc4a;
  font-family: Amaranth;
  padding-bottom: 4rem;
}

.c-onzegoudenkazen {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.c-besteltext {
  padding-right: 4rem;
}

.c-bestel {
  max-width: 100%;
  height: auto;
}
.container-fluid {
  padding: 0rem;
}

.c-tittle {
  padding-top: 2rem;
  font-family: Amaranth;
  color: white;
  padding-left: 4rem;
}

.c-text__inschrijving {
  font-family: Amaranth;
  color: white;
  margin-left: 4rem;
}

.form-control {
  background-color: #bdbdbd;
  border: none;
  margin-left: 4rem;
}
.form-control:focus {
  color: #212529;
  background-color: #bdbdbd;
  border: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #00bc4a;
}

.btn-secondary {
  background-color: #00bc4a;
  color: #12312c;
  font-family: Amaranth;
  font-style: italic;
  border: none;
  margin-left: 4rem;

  &:hover {
    background-color: #12312c;
    color: #00bc4a;
    border: none;
  }

  &:focus {
    background-color: #12312c;
    color: #00bc4a;
    border: none;
    box-shadow: none;
  }
}

.c-nieuwsbrief {
  background-color: #4d4d4d;
}
.c-kaart {
  max-width: 100%;
  height: auto;
}
.c-footer {
  padding-top: 2rem;
}

/*---------------------------------------/*
  # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
  # COMPONENTS
/*---------------------------------------*/

/*---------------------------------------/*
  # BOOTSTRAP
/*---------------------------------------*/
/*---------------------------------------/*
  # UTILITIES
/*---------------------------------------*/
