/*---------------------------------------/*
  # SETTINGS
/*---------------------------------------*/
$color-lightgreen: #00bc4a;
$color-green: #014a2d;
$color-darkgreen: #12312c;
$color-grey: #4d4d4d;
$spacing-default: 2rem;

/*---------------------------------------/*
  # GENERIC
/*---------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*---------------------------------------/*
  # ELEMENTS
/*---------------------------------------*/
.logo {
  object-fit: cover;
  object-position: 50% 50%;
}

.video {
  background-color: #00bc4a;
}

.text-video {
  color: #014a2d;
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
}
/*---------------------------------------/*
  # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
  # COMPONENTS
/*---------------------------------------*/

/*---------------------------------------/*
  # BOOTSTRAP
/*---------------------------------------*/

/*---------------------------------------/*
  # UTILITIES
/*---------------------------------------*/
